@use "variables" as *;

.about-me {
  padding: 60px 0;

  .about-section {
    p {
      font-size: 24px;
      font-weight: 400;
      color: #b7b7b7;
      line-height: 2;
      letter-spacing: -0.4px;
    }
  }
}

body.light {
  .about-me {
    .about-section {
      p {
        color: #1f1f1f;
      }
    }
  }
}
