@use "variables" as *;

.big-projects-cards {
  .big-projects-cards-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    $border-radius: 15px;

    .big-projects-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #242424;
      border: 1px solid #eceff133;
      border-radius: $border-radius;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in-out;
      height: 550px;
      --hsl: 165, 82.86%, 51.37%;

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: #313131;
        border-radius: $border-radius $border-radius 0 0;
        border-bottom: 1px solid #eceff133;

        .full {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;

          .title {
            h2 {
              font-size: 1.4em;
              font-weight: 500;
            }
          }

          .link {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
              visibility: hidden;
              opacity: 0;
              text-decoration: none;
              text-decoration: underline;
              transition: all 0.2s ease-in-out;
            }

            .icon {
              opacity: 0.7;
              height: auto;
              margin-right: 15px;
            }

            &:hover {
              .icon {
                opacity: 0.9;
              }
              color: white;
              opacity: 1;
              a {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }

        .short {
          font-size: 0.8rem;
        }
      }

      .card-body {
        border-radius: 0 0 $border-radius $border-radius;
        height: 100%;

        p {
          font-size: 1em;
          font-weight: 300;
        }
      }

      .card-image {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
